


$cyan-0: #E6F3F3;
$cyan-1: #CCE8E8;
$cyan-2: #B3DCDC;
$cyan-3: #99D1D1;
$cyan-4: #90C5C5;
$cyan-5: #66B9B9;
$cyan-6: #4DAEAE;
$cyan-7: #33A2A2;
$cyan-8: #199797;
$cyan-9: #008B8B;

$grey-0: #FAFAFA;
$grey-1: #F5F5F5;
$grey-2: #EEEEEE;
$grey-3: #E0E0E0;
$grey-4: #BDBDBD;
$grey-5: #9E9E9E;
$grey-6: #757575;
$grey-7: #616161;
$grey-8: #424242;
$grey-9: #212121;

$blue-0: #E4F7FA;
$blue-1: #BDECF3;
$blue-2: #8FDFEB;
$blue-3: #5DD3E5;
$blue-4: #29CCE5;
$blue-5: #00C2E0;
$blue-6: #00AECC;
$blue-7: #0098B7;
$blue-8: #0082A0;
$blue-9: #006988;

$navy-0: #439CEF;
$navy-1: #3E88EF;
$navy-2: #2F7AE5;
$navy-3: #1D63DC;
$navy-4: #0836C1;

$chrome-0: #F1F1FF;
$chrome-1: #D8D8D8;
$chrome-2: #BFC1C2;
$chrome-3: #B3B3B3;
$chrome-4: #757575;


@mixin chrome-gradiant{
    background: linear-gradient(to right, rgba($chrome-1, 1 ) , rgba($chrome-4, 1 ));
}

@mixin mono{
    font-family: 'Nova Mono', monospace;
}

@mixin sans{
    font-family: 'Work Sans', sans-serif;
}


@mixin hor-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ver-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}