@import "../../bootstrap/scss/bootstrap.scss";
@import 'settings';



*{
    box-sizing: border-box;
    padding: 0;
    margin:  0;
    font-size: 18px;
}

html, body{
    scroll-behavior: smooth;
    height: 100%;
    display: flex;
    justify-content: center;
}

body{

    max-width: 1800px;
    &:hover{
        overflow-y: scroll;
    }

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px $grey-3;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color:white;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px $grey-3;
        background-color: $grey-5;
    }
}


// ******************************************************---HEADER---

.intro-cover{
    width: 100vw;
    height: 100vh;
    background: $grey-3;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 30;

    @include ver-center;
    display: none;
}



.border-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

    width: 100%;
    height: 3px;
    // background: linear-gradient(to right, rgba(blue, 0.5), rgba(yellow,0.3), white, rgba(yellow,0.3), rgba(red, 0.5));
}


header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $blue-9;
    box-shadow: 0 2px $grey-3;

    position: fixed;
    top: 0;
    left: 0;

    background: $grey-2;
    // background: rgba(white, 0.2);
    
   
    z-index: 100;
}

.main-header{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}



.header-logo{

   
    height: 40px;
    width: 250px;
    border-bottom: 1px solid rgba($grey-5, 0.4);

    @include hor-center;
    @include mono;
    
    .first-name{
        height: 30px;
        padding: 0 3px 0 5px;
        font-size: 25px;
        background: rgba(blue, 0.3);
        color: rgba(black, 0.8);
        border-radius: 10px 0 0 0;
        border-right: 2px solid #FDFD97;
        @include hor-center;
    }

    .last-name{
        height: 30px;
        padding: 0 5px 0 1px;
        font-size: 25px;
        background: rgba(red,0.3);
        color: rgba(white, 0.8);
        border-radius: 0 0 10px 0;
        @include hor-center;
    }
}

.header-links-div{

    display: flex;
    align-items: center;


    a{
        height: 40px;
        width: 100px;
        @include hor-center;

        &:hover{
            background: rgba($navy-3, 0.1);
            text-decoration: none;
        }
    }

    span{
        @include mono;
        color: $grey-9;
        font-weight: 600;
    }

   i{
       
       width: 80px;

       display: flex;
       justify-content: space-between;
       align-items: center;
       letter-spacing: 1px;
       //color: rgba($navy-4, 0.8 );
       color: $grey-9;
       span{
           @include mono;
       }
    //    display: none;
   }


   .header-home-link{
                        width: 100px;       
       .head-home-icon{ width: 70px; }
       span{ padding-top: 1px;}
   }

   .header-about-link{
                         width: 110px;       
       .head-about-icon{ width: 80px; }
       span{ padding-top: 2px;}
   }

    .header-project-link{
                           width: 150px;       
       .head-project-icon{ width: 115px; }
       span{ padding-top: 2px;}
   }

    .header-contact-link{
                           width: 135px;       
       .head-contact-icon{ width: 100px; }
       span{ padding-top: 3px;}
   }

   display: none;
}

.header-active{
    border-bottom: 3px solid $navy-3;
}


// ******************************************************---HEADER---




// ******************************************************---MAIN---

main{
    width: 100%;
}

.main-body-div{
    display: flex;
    flex-direction: column;
}

.show-case{
    padding: 20px 10px 20px 10px;
}


// ******************************************************---HOME---
    #home{
        
        width: 100%;
       
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        padding: 0;

        background: url(../media/main-bg-md.jpg) no-repeat center center;
        background-size: cover;
    }

    .home-bg-back{
        width: 100%;
       
        height: 100%;
        background: rgba(white, 0.9);

        position: absolute;
        top: 0;
        left: 0;

        z-index: 5;
    }

    .home-main-div{
       
        width: 100%;
        margin: auto;
        min-height: calc(100vh);  
        // padding: 20px;
        

        z-index: 10;

        background: rgba( black, 0.1);
        color: rgba(white, 0.8);  
        
        position: relative;
        // top: 40px;
        
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: left;

        color: rgba(black, 0.8);
    }

    .home-content-main{
        // position: relative;
        // top:  5px;
        // left: 0;

        width: 100%;
        height: calc(100vh - 105px);
        min-height: 400px;

        margin: 45px 0 0 0;
        display: flex;
        flex-direction: column;

    }

    .home-content-left{
        width: 100%;
        // min-height: calc(100vh - 105px);
        height: 60%;
        .txt-type > .txt{
            letter-spacing: 3px;
            border-right: 0.2rem solid #777;
        }

        @include ver-center;

        h1,h2{
            margin: 0.4rem;
        }

        h1{
            font-size: 3rem;
            @include mono;
        }

        h2{
             height:40px;
             min-width: 40px;
            font-weight: 600;
            font-size: 2rem;
            color: rgba(red, 0.8);
            @include sans;
            span{
            font-weight: 600;
            font-size: 2rem;
            color: rgba(red, 0.8);
            @include sans;
            }
        }
    }


    .home-content-right{
        width: 100%;
        height: 100%;
        display: none;
        border: 1px solid red;
    }



    .home-content-floor{

        width: 100%;
        height: 60px;
        border-top: 5px solid black;
        // background: rgba(blue, 0.8);
        background: rgba(0, 0, 255, 0.6);
        border-bottom: 2px solid black;

        position: absolute;
        bottom: 0;
        left:   0;
    }

    .home-content-table{
        width: 50vw;
        height: 20vw;

        max-width: 350px;
        max-height: 120px;
        // background: rgba(brown, 1);
        background: rgba(255, 0, 0, 0.5);

        position: absolute;
        bottom: 50px;
        left:   0;

        border-radius: 0 25px 5px 0;
        border-top: 5px solid black;
        border-right: 5px solid black;
        border-bottom: 5px solid black;

        display: flex;
        flex-direction: column;
        z-index: 5;
        .table-line-1{
            width: 50%;
            height:35%;
            border-bottom: 5px solid black;
            display: flex;
            align-items: flex-end;
            padding-left: 10px;
        }

        .table-line-2{
            width: 100%;
            height:35%;
            border-bottom: 5px solid black;
            display: flex;
            align-items: flex-end;
            padding-left: 10px;
        }

    }

    
.table-icon{
    height: 90%;
    width: 60%;
  
  }
  .table-icon:hover{
    width: 65%;
  }
  
  .table-icon-2{
    height: 90%;
    width: 38%;
  }
  .table-icon-2:hover{
    width: 43%;
  }







    




// ******************************************************---HOME---


// ******************************************************---ABOUT---
    #about{
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-div{
        width: 100%;
        min-height: 100vh;
        padding: 20px 0;
    }

    // ****************************PROFILE
    #profile{
        background: rgba(blue,0.3);
        border-top: 3px solid rgba(yellow, 0.7);
        border-bottom: 2.5px solid $cyan-0;

        position: relative;

        @include ver-center;
    }

    // ****************************TECHGUY
 
    .techguy-main-div{
        width: 100%;
        // background: rgba($cyan-0, 0.2);
        display: flex;
        height: 100%;
    }

    .techguy-div{
        // border: 2px solid green;
        width: 50%;

        @include ver-center;
    }

    .techguy-pic{
        width: 100%;
        max-height:500px;
    }

    .techguy-chat-div{
        width: 50%;
        // border: 2px solid red;
        padding-right: 20px;

        @include ver-center;

        div{
            justify-content: center;
        }

        color: $grey-8;
        // background: rgba($cyan-0, 0.2);
    }

    .techguy-name{
        font-weight: 700;
        color: $grey-9;
    }

    .techguy-skills-div{
        width: 100%;
        height: 30px;
        
        border-radius: 25px;
        display: flex;
        justify-content: center;
        a{
            height: 30px;
            width: 100%;
            max-width: 300px;
            display: block;
            text-align: center;
            border-radius: 25px;

            color: $grey-8;
            font-weight: 500;
            border: 2px solid $grey-0;
            background: rgba($cyan-0, 0.1);

            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover{
                text-decoration: none;
                background: rgba($navy-4, 0.5);
                color: $cyan-0;
                box-shadow: 0px 2px rgba($grey-7, 0.5);
            }
        }
    }


   
    // ****************************TECHGUY
    


    // ****************************PROFILE-PIC
    .profile-div{
        height: 5px;
        width: 100%;

        @include hor-center;

        position: absolute;

        bottom:    0;
        left:      0;
    }
        .profile-pic-div-1{
            z-index: 2;
            // background: rgba($grey-9, 0.5);
            background: white;

            width:  90px;
            height: 90px;

            border-top-right-radius:    50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius:  50%;
            border-top-left-radius:     50%;

            border-top: 2.5px solid $cyan-0;
            border-right: 2.5px solid $cyan-0;
            border-bottom: 2.5px solid $cyan-0;
            border-left: 2.5px solid $cyan-0;

            @include hor-center;
        }

        .profile-pic-div-2{
            width:  80px;
            height: 80px;

            background: rgba(white, 0.3);
            border: 2px solid rgba(yellow, 0.3);
            border-radius: 60%;

            @include hor-center;

            img{
                width: 60%;
            }
        }
    // ****************************PROFILE-PIC

    // ****************************PROFILE

    // ****************************SKILLS
    #skills{
        background: rgba(red,0.5);
        border-bottom: 3px solid $blue-0;
        border-top: 2.5px solid $cyan-0;

        position: relative;

        @include hor-center;
    }

    .skills-title-div{
        height: 45px;

        position: absolute;
        top: 10px;
        left: 15px;

        p{
        @include mono;
        font-weight: 700;
        font-size: 25px;
        display: block;
        }

        div{
            width: 50%;
            height: 2px;
            border-top: 2px solid $grey-9;

            position: absolute;
            left:      0;
            bottom:    0;

        }
    }


    .skills-main-div{
        width: 90%;
        margin: 40px auto 10px auto;

        display: flex; 
        flex-direction: column;
        align-items: center;

        position: relative;

        padding: 65px 10px 10px 10px;
    }

    .skills-div{
        width: 90%;
        @include ver-center;

        // background: black;
    }

    .skills-div-head{
        width: 90%;
        height: 30px;

        display: flex;
        align-items: center;

        font-size: 20px;
        font-weight: 600;
        @include sans;

        // background: red;
    }

    .skills-div-body{
        width: 90%;
        min-height: 50px;
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }

    .skills-div-item{
        min-width:  10%;
        width: 10%;
        height: 30px;
        margin: 10px 10px;

        display: flex;
        justify-content: center;
        align-items: center;
       
        position: relative;

        img{
            width: 100%;
           
        }

        p{
            display: inline-block;
            @include sans;
            color: $grey-8;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .skills-item-label{
            height: 30px;
            width: 150px;

            text-align:center;

            display: none;          

            position: absolute;
            bottom: -32px;
            
         }

         &:hover{
             .skills-item-label{
                 display: inline-block;
                 
             }

             img{width: 120%;}
         }
 
    }


    // ****************************SKILLS

// ******************************************************---ABOUT---


// ******************************************************---PROJECT---
    #project{
        width: 100%;
        min-height: 100vh;
        background: rgba($blue-3, 0.4);

        padding: 40px 10px 20px 0;

        color: $grey-8;

        @include ver-center;

    }

    .project-title-div{
        height: 45px;

        position: absolute;
        top: 10px;
        left: 10px;

        
        p{
        @include mono;
        font-weight: 700;
        font-size: 25px;
        display: block;
        }

        div{
            width: 50%;
            height: 2px;
            border-top: 2px solid $grey-9;

            position: absolute;
            left:      0;
            bottom:    0;

        }
    }


    .project-main-div{
        width: 95%;
        max-width: 1200px;
        margin: 20px auto;
        min-height: calc(100% - 80px);

        padding: 70px 5px 5px 5px;
        background: rgba($blue-0, 0.3);

        position: relative;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        border-radius: 25px;
        border: 2px solid $blue-0;
    }

    .project-links {

        border: 5px solid $grey-8;;
        border-radius: 0 20px 0 30px;

        height: 165px;
        width: 220px;

        margin: 10px 50px;
        @include hor-center;

        text-decoration: none;
        overflow: hidden;

        position: relative;

        cursor: pointer;

    }

   
    .project-modal{
        width: 100%;
        height: 100vh;

        @include ver-center;


        position: fixed;
        top:  0;
        left: 0;

        background: rgba( grey, 0.7);

        z-index: 150;

        display: none;

        cursor: initial;
    }

    .close-project-modal-btn{
        width: 30px;
        height: 30px;

        position: fixed;
        top: 10px;
        right: 10px;

        cursor: pointer;
        i{
            font-size: 40px;
        }
        z-index: 200;
        display: none;
    }

    .open-project-modal{

       .project-modal{
           display: flex;
       }
    }

    .view-close-project-modal-btn{
        display: block;
     }

    .project-modal-content-div{
        width:  80vw;
        height: 90vh;

        max-width:  600px;

        padding: 15px 5px;

        background: rgba(#fff, 1);

        @include ver-center;

        cursor: initial;
    }

    .project-modal-banner-div{
        width: 100%;
        min-height: 30vh;

        background: rgba(blue, 0.4);

        @include ver-center;

        margin-bottom: 10px;

    }


    .project-modal-info-div{
        width: 100%;
        min-height: 40vh;

        background: rgba(yellow, 0.4);

        @include ver-center;

        margin-bottom: 10px;
    }

    .view-project-btn{
        width: 50%;
        max-width: 300px;
        height: 30px;

        @include ver-center;

        border: 2px solid rgba(red, 0.4);
        border-radius: 25px;
        color: rgba(black, 0.8);
        &:hover{
            background:  rgba(red, 0.4);
            color: white;
            border: 2px solid rgba(black, 0.4);
            text-decoration: none;
        }
    }



// ******************************************************---PROJECT---


// ******************************************************---CONTACT---
    #contact{
        @include mono;
        width: 100%;
        min-height: 100vh;

        position: relative;
        
    }

    .main-contact-div{
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        padding: 40px 0 0 0;
    }

    .contact-div{
        width: 100%;
        min-height: 50vh;
        margin: 5px 0;
    }

    .contact-div-1{
        
        @include ver-center;
    }

    .contact-cover-div{
        width: 90%;
        margin: 0 auto 45px auto;
        img{
            width: 100%;
        }

        position: relative;

        background: rgba($cyan-4, 0.3);
        border: 5px solid rgba($cyan-5, 02);
        border-radius: 25px;
    }


    .contact-profile-pic-div{
        width: 100%;
        height: 5px;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;

        @include hor-center;
    }

    .contact-profile-pic{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 5px solid white;
        overflow: hidden;
        @include hor-center;

        img{
            height: 100%;
        }
    }

    .contact-profile-name-div, .contact-profile-position-div{
        width: 100%;
        height: 30px;

        @include hor-center;
    }

    .contact-profile-name{
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .contact-profile-position{
        font-size: 20px;
        letter-spacing: 1px;
    }

    .contact-resume-div{

        width: 100%;
        margin: 10px 0; 
        @include ver-center;

        a{
            width: 10%;
            padding: 2px;
            img{
                width: 100%;
                margin: 5px;               
            }

            &:hover{
                width: 12%;
            }
        }

        p{
            font-size: 22px;
            font-weight: 600;
            color: rgba(red, 0.7);
        }

        
    }

    .contact-div-2{
        
        padding: 0 0 30px 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        
    }

    .contact-social-div{
        width: 90%;
        margin: 10px auto 20px auto;
       
        @include hor-center;
    
    }

    .contact-social-link{
        width: 20%;
        max-width: 45px;
        margin: 0 5%;
        display: inline-block;

        &:hover{
            width: 22%;
            max-width: 50px;
            margin: 0 4%;
            transition: all 0.2s ease-in;
        }

        img{
            display: inline-block;
            width: 100%;
            border-radius: 5px;
        }
        
    }

    .contact-info-div{
        width: 90%;
        height: 50px;

        margin: 10px 0;
        padding: 0 20px;
        display: flex;
        align-items: center;

        i{
            font-size: 30px;
            width: 4%;
        }

        p{
            display: inline-block;
            margin: 10px 0 auto 30px;
            font-size: 18px;
            letter-spacing: 2px;

            @include mono;
            color: rgba(black, 0.6);
        }
    }



    .my-location-div{
        width: 90%;
        height: 40px;

        @include hor-center;
        
    }

    .my-location-btn{
        cursor: pointer;
        height: 30px;
        width: 40%;
        margin: auto;
        
        @include hor-center;

        border-radius: 25px;
        border: 2px solid rgba(black, 0.8);

        &:hover{
            border: 2px solid rgba(blue, 0.2);
            background: rgba(black, 0.2);
            color: rgba(blue, 0.6);

        }
    }

    .my-location-modal{
        width: 100%;
        height: 100vh;

        @include ver-center;


        position: fixed;
        top:  0;
        left: 0;

        background: rgba( grey, 0.7);

        z-index: 100;

        display: none;
    }

    .close-location-modal-btn{
        width: 30px;
        height: 30px;

        position: fixed;
        top: 10px;
        right: 10px;

        cursor: pointer;
        i{
            font-size: 40px;
        }


    }

    .open-location-modal{
        display: flex;
    }

    .my-location-frame{
        width: 100vw;
        height: 75vw;

        max-width:  600px;
        max-height: 450px;

        margin: 0 10px;
    }

// ******************************************************---CONTACT---

    // ******************************************************---MAIN---

// ******************************************************---FOOTER---

footer{
    width: 100%;
    height: 40px;
    border-top: 1px solid $grey-5;

    position: fixed;
    bottom: 0;
    right: 0;

    z-index: 10;
    background: $grey-2;
}

.main-footer{
    width: 100%;
    max-width: 1500px;

    display: flex;

    i{
        // color: rgba($navy-4, 0.8 );
        color: $grey-9;
    }

    a{
        height: 43px;
        width: 25%;
        @include hor-center;
        
        &:hover{
            background: rgba($navy-3, 0.1);
            text-decoration: none;
        }
    }

    .footer-icon{
        height: 25px;
        width:  25px;
        @include hor-center;
    }

    .home-link{
        position: relative;

        + .home-label{
            position: absolute;
            top: -27px;
            width: calc(25% - 20px);
            height: 22px;

            // background: rgba($grey-5, 0.4);
            // color: $navy-1;
            //  color: $grey-9;
            background: rgba($grey-5, 0.8);
            color: rgba(white, 0.8);
            
            margin: 0 10px;
            padding-bottom: 15px;
            border-radius: 25px;

           text-align: center;
           font-size: 15px;

           display: none;
        }

        &:hover{
            +.home-label{display: block;}
        }
    }

    .about-link{
        position: relative;

        + .about-label{
            position: absolute;
            top: -27px;
            left: 25%;
            width: calc(25% - 20px);
            height: 22px;

            // background: rgba($grey-5, 0.8);
            // color: $navy-1;
            // color: $grey-9;
            background: rgba($grey-5, 0.8);
            color: rgba(white, 0.8);
            
            margin: 0 10px;
            padding-bottom: 15px;
            border-radius: 25px;

            text-align: center;
            font-size: 15px;

            display: none;
        }

        &:hover{
            +.about-label{display: block;}
        }
    }

    .project-link{
        position: relative;

        + .project-label{
            position: absolute;
            top: -27px;
            left: 50%;
            width: calc(25% - 20px);
            height: 22px;

              //     background: rgba($grey-5, 0.4);
             // color: $navy-1;
             background: rgba($grey-5, 0.8);
             color: rgba(white, 0.8);
            
            margin: 0 10px;
            padding-bottom: 15px;
            border-radius: 25px;

            text-align: center;
            font-size: 15px;

            display: none;
        }

        &:hover{
            +.project-label{display: block;}
        }
    }

    .contact-link{
        position: relative;

        + .contact-label{
            position: absolute;
            top: -27px;
            left: 75%;
            width: calc(25% - 20px);
            height: 22px;

           // background: rgba($grey-5, 0.4);
           // color: $navy-1;
            background: rgba($grey-5, 0.8);
            color: rgba(white, 0.8);
            
            margin: 0 10px;
            padding-bottom: 15px;
            border-radius: 25px;

            text-align: center;
            font-size: 15px;

            display: none;
        }

        &:hover{
            +.contact-label{display: block;}
        }

    }

}

.footer-active{
    border-top: 3px solid $navy-3;
}

// ******************************************************---FOOTER---


@media only screen and (max-width: 420px){

    
    .profile-pic-div-1{
        width:  70px;
        height: 70px;
    }

    .profile-pic-div-2{
        width:  60px;
        height: 60px;
    }

    .techguy-name{
        p{
            font-size: 14px;
        }
    }

    .skills-div-body{
        justify-content: left;
    }

    .skills-div-item{
        min-width:  13%;
        height: 30px;
    }

    .skills-div-item:hover{
        img{
            max-width: 25px;
        }
    }

    .contact-social-link{
        width: 10%;
        max-width: 45px;
        margin: 0 5%;
        display: inline-block;

        &:hover{
            width: 22%;
            max-width: 50px;
            margin: 0 4%;
            transition: all 0.2s ease-in;
        }

        img{
            display: inline-block;
            width: 100%;
            border-radius: 5px;
        }
        
    }

    .contact-info-div{
        width: 90%;
        height: 50px;

        margin: 10px 0 20px 0;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        i{
            font-size: 25px;
            width: 4%;
        }

        p{
            display: inline-block;
            margin: 10px 0 auto 30px;
            font-size: 14px;
            letter-spacing: 2px;

            @include mono;
            color: rgba(black, 0.6);
        }
    }

    
    
}


@media only screen and (max-width: 500px){

    // .home-content{
    //     h1{
    //         font-size: 30px;
    //         font-weight: 600;
    //     }

    //     .home-position{
    //         display: inline-block;
    //         margin: 5px 0;
    //         color: rgba(black, 0.8);
    //     }

    //     h2{
    //         font-size: 18px;
    //         // color: rgba(black, 0.8);
    //         color: rgba(white, 0.8);
    //     }
        
    // }

    *{
        font-size: 15px;
    }

    .home-flowervase{
        height: 80px;
        position: absolute;
        top: -85px;
        left: 10px;
      }

      .home-myscreen{
        height: 80px;
        position: absolute;
        top: -85px;
        left: 40%;
      }
    
      .home-dog{
        height: 140px;
        position: absolute;
    
        right: -130px;
        bottom: -5px;
      }

    #profile{
        display: flex;
        justify-content: center;
        padding: 0 0 40px 0;
    }

    .techguy-main-div{
        flex-direction: column;
        // max-height: 100vh;
        margin: 0 auto 10px auto;
    }

    .techguy-div{
        width: 30%;
        margin: 10px auto;
    }

    .techguy-chat-div{
        width: 100%;
        padding: 0px 60px;
    }
    
    .techguy-skills-div{
        padding: 10px 0;
    }

  

    .contact-resume-div{

       
        p{
            font-size: 16px;
            font-weight: 600;
            color: rgba(red, 0.7);
        }

        
    }

    .close-project-modal-btn{
        right: -2px;
        i{
            font-size: 25px;
        }
    }

}

@media only screen and (max-width: 400px){
    .home-flowervase{
        height: 50px;
        position: absolute;
        top: -55px;
        left: 20px;
      }

      .home-myscreen{
        height: 40px;
        position: absolute;
        top: -45px;
        left: 50%;
      }
    
      .home-dog{
        height: 80px;
        position: absolute;
    
        right: -80px;
        bottom: -10px;
      }
}

@media only screen and (min-width: 501px){

    .home-flowervase{
        height: 100px;
        position: absolute;
        top: -105px;
        left: 20px;
      }

      .home-myscreen{
        height: 80px;
        position: absolute;
        top: -85px;
        left: 50%;
      }
    
      .home-dog{
        height: 160px;
        position: absolute;
    
        right: -140px;
        bottom: -10px;
      }

     

    .about-div{
        padding: 0;
    }
    
    #profile{
        padding: 0px;
    }
    .techguy-chat-div{
        padding-right: 40px;
    }

    .techguy-skills-div{
        padding: 15px 0;
    }



    .skills-div-item{
        min-width:  10%;
        height: 40px;
    }


}

@media only screen and (min-width: 901px){

    .home-content-main{
        flex-direction: row;
    }

    .home-content-left{
        width: 50%;
    }

    .home-content-right{
        width: 50%;
        display: block;
    }


    .header-logo{
        border-bottom: none;
    }

    .main-header{
        justify-content: space-between;
    }

    .header-links-div{
        display: flex;
    }

    footer{
        display: none;
    }

    #about{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about-div{
        width: 50%;
    }

    .profile-div{
        height: 100%;
        width: 5px;

        @include hor-center;

        position: absolute;

        right: -5px;
        top:      0;
        left: 100%;
    }

    #profile{

        border-top: none;
        border-right: 2.5px solid $cyan-0;
        border-bottom: none;
        border-left: 3px solid rgba(yellow, 0.4);
        
    }

    .techguy-chat-div{
        padding-right: 60px;
        @include sans;
    }

    .techguy-skills-div{
        display: none;
    }

    .techguy-name{
        p{
            font-size: 16px;
        }
    }

    #skills{

        border-top: none;
        border-right: 3px solid rgba(yellow, 0.4);
        border-bottom: none;
        border-left: 2.5px solid $cyan-0;

    }

    #project{

        padding: 40px 30px 20px 30PX;

    }

    .main-contact-div{
        flex-direction: row;
    }

    .contact-div{
        padding-top: 20px;
    }

    .contact-div-2{
        @include ver-center;
    }

    .contact-info-div{     

        i{
            font-size: 40px;
            width: 6%;
        }

        p{
            margin: 7px 0 auto 30px;
            font-size: 25px;
            letter-spacing: 2px;

        }
    }

}

@media only screen and (min-width: 1200px){
    .techguy-name{
        p{
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 1700px){

}



//****************HOME-LEFT-TEXT

@media(max-width: 800px){
    .home-content-left{padding: 0 1rem;}
    h1{font-size: 3rem;}
}

@media(max-width: 500px){
   .home-content-left{
    h1{font-size: 2.5rem;}
    h2{
        height:40px;
        min-width: 40px;
       font-weight: 600;
       font-size: 1rem;
       color: rgba(red, 0.8);
       @include sans;
       span{
       font-weight: 600;
       font-size: 1rem;
       color: rgba(red, 0.8);
       @include sans;
       }
   }
   }
}















